<!--
    Manansala, Aerelle Myeica S.
    Milan, John Llyod B.
    Siy, Jorgette Courteney C.
    CCAPDEV S16 Group 3
    MCO1
-->

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
</head>
<body>
<header>
    <p><h2>CourseVoice Dashboard</h2></p>
</header>
<div class="sidebar">
    <ul>
        <li><a href="/search"><i class="fas fa-search"></i><span class="nav-item">Search</span></a></li>
        <li><a href="/dashboard"><i class="fas fa-home"></i><span class="nav-item">Home</span></a></li>
        <li><a href="/course"><i class="fas fa-list"></i><span class="nav-item">All Courses</span></a></li>
        <li><a href="/profile"><i class="fas fa-cog"></i><span class="nav-item">Settings</span></a></li>
    </ul>
    <ul class="logout">
        <li><a href="/login"><i class="fas fa-sign-out-alt"></i><span class="nav-item">Log Out</span></a></li>
    </ul>
</div>
    
    <div class="greetings">
        <p id="course"><strong>Report: <%= course %></strong></p>
    </div>
    <p hidden id="parent-id"><%= parent %></p>
    <div class="profile-container">
    
        <div class="pen-prof">
            <p>Viewing mode</p><!-- PLACE "editing mode"-->
        </div>
        <h1 id="professor"><%= professor %></h1>
        <p><i id="username">Author: <%= username %></i></p>
        <div class="with-space">
            <textarea id="description" readonly><%= content %></textarea>
        </div>
    </div>


<form id="report-post">
  <div class="profile-container" style="background-color: #ffc048;">
  
      <p><i id="username-comment">Reporter: <%= usernameComment %></i></p>
      <div class="with-space">
          <textarea id="description-comment"></textarea>
      </div>
  </div>

  <input type="submit" value="Save" class="button save" id="save-button">
</form>
<button class="button save" id="cancel-button">Cancel</button>

<script>
    const mainTitle = "<%= main %>";
    const subTitle = "<%= sub %>";

    const parentId = document.querySelector("#parent-id");
    const professor = document.querySelector('#professor')
    const course = document.querySelector('#course')
    const usernameComment = document.querySelector('#username-comment')
    const descriptionComment = document.querySelector('#description-comment')
    const cancel = document.querySelector("#cancel-button")
    const form = document.querySelector('#report-post')

    form.addEventListener('submit', async (e) => {
        e.preventDefault()
        try {
          const postingDate = new Date();
          const formattedDate = postingDate.toLocaleString('en-us', {
            year: 'numeric',
            month: 'short',
            day: 'numeric',
            hour: 'numeric',
            minute: 'numeric',
            timeZone: 'Asia/Singapore'
          });

          const res = await fetch('/api/auth/addComment', {
            method: 'POST',
            body: JSON.stringify(
                { 'parent': parentId.innerText,
                'username': usernameComment.innerText.slice(10),
                'content': descriptionComment.value,
                'date': formattedDate,
                'classification': 'report'}),
            headers: { 'Content-Type': 'application/json' }
          })
          const data = await res.json()

          await fetch('/api/auth/reportPost', {
            method: 'PUT',
            body: JSON.stringify(
                { 'id': parentId.innerText, }),
            headers: { 'Content-Type': 'application/json' }
          })
          location.assign(`/course/${mainTitle}/${subTitle}`)
        } catch (err) {
          console.log(err.message)
        }

      })

      
    cancel.addEventListener('click', (e) => {
        e.preventDefault();
        location.assign(`/course/${mainTitle}/${subTitle}/${parentId.innerText}`);
    });

  </script>
</body>
</html>